body 
h1, h3{
    
    background-color: rgba(180, 221, 146, 0.83);
    color: black;
    text-align: center;
    border: solid 2px #494c46;
}
p, blockquote, iframe{
    background-color: rgba(201, 166, 100, 0.45);
    color: black;
    text-align: center;
    border: solid 1px #d1a960;
}



