body
.banner{
    position:relative;
    text-align:center;
}

.centered-top{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgba(232, 230, 227, 0.9);
    border: double 5px #211f1f;
    font-variant: small-caps;
    font-family: "Georgia", serif;
}
.centered-bottom{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgba(232, 230, 227, 0.9);
    border: double 5px #211f1f;
    font-family: "Georgia", serif;
}

.blockedArea{
    background-color: rgba(184, 204, 219, 0.13);
    color: black;
    text-align: left;
    border: solid 1px #211f1f;
    font-family: "Georgia", serif;
}


.newHeader{
    background-color: rgba(8, 72, 168, 0.75);
    color: white;
    text-align: center;
    border: solid 1px #211f1f;
    font-family: "Georgia", serif;
    font-variant: small-caps;
}

nav{
    background-color: rgba(184, 204, 219, 0.85);
    text-align: center;
    color: black;
    border: solid 1px #211f1f;
    position: sticky;
    top:0;
    font-family: "Georgia", serif;
    z-index:2;
}


.center{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

.footer {
    background-color: rgba(184, 204, 219, 0.85);
    text-align: left;
    padding: 10px;
    font-family: "Georgia", serif;
}




@media screen and (max-width:600px){
    body {width:300px}
    h1{font-size:14pt}
    h2{font-size:12pt}
    h3{font-size:10pt}
    h4, h5, a, p, ul, ol, li {font-size:8pt}
    nav{width:100%; font-size:10pt}
    img{width:300px}
    .centered-top{border: double 3px #211f1f; top: 30%}
    .centered-bottom{border: double 3px #211f1f; top: 75%;}
    
}
