body
.container{
    position:relative;
    text-align:center;
    color:white;
}
.centered-top{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgba(232, 230, 227, 0.9);
    border: solid 1px #211f1f;
}
.centered-bottom{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgba(232, 230, 227, 0.9);
    border: solid 1px #211f1f;
}

p, blockquote, iframe{
    background-color: rgba(196, 193, 188, 0.4);
    color: black;
    text-align: left;
    border: solid 1px #211f1f;
}

nav{
    background-color: rgba(196, 193, 188, 0.4);
    text-align: center;
    color: black;
    border: solid 1px #211f1f;
}



