body
.banner{
    position:relative;
    text-align:center;
}
.centered-top{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgba(232, 230, 227, 0.9);
    border: solid 1px #211f1f;
    font-variant: small-caps;
    font-family: "Georgia", serif;
}
.centered-bottom{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgba(232, 230, 227, 0.9);
    border: solid 1px #211f1f;
    font-family: "Georgia", serif;
}

.footer {
    background-color: rgba(184, 204, 219, 0.85);
    text-align: left;
    padding: 10px;
    font-family: "Georgia", serif;
}


nav{
    background-color: rgba(184, 204, 219, 0.85);
    text-align: center;
    color: black;
    border: solid 1px #211f1f;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    font-family: "Georgia", serif;
}

.textInfo {
    background-color:rgba(184, 204, 219, 0.13);
    column-count:2;
    column-rule: 1px solid black;
    font-family: "Georgia", serif;
}
.columnOne{
    column-width: 700px;
}

.columnTwo{
    column-width: 500px;
}
